*{
	box-sizing:border-box;
}
body{
	border:1px solid black;
}
#nodo{
	float: left;
	border:2px solid green;
	width: 700px;
}
nav{
	float:right;
	border:2px solid green;
	width: 20%;
}
section{
	margin-right:20%;
	border:2px solid green;
}