*{
	margin: 0px;
	padding: 0px;
	text-align: justify;
	font-family: sans-serif;
	box-sizing: border-box;
}
/* achicamos y ajustamos el body */
html{
	background:#F1F2F9;
}
body{
	margin-left: 15%;
	margin-right: 10%;
	background:white;
	position: fixed;
}
/* ajustamos el nav y la cabecera */
nav{
	padding-left: 5%;
	padding-right: 5%;
	background: #EDE6E9;
	height: 25px;
	top:0%;
}
header > nav > h1, a{
	float: right;
	margin-right: 1%;
}
header > #d > h1{
	float:left;
	margin-top: 1%;
	margin-left: 1%;
	font-size: 35px;
	font-style: normal;
}
header > #d > h1 > span{
	text-decoration:;
}
header > #d > a{
	float:right;
	text-decoration: none;
	text-align: center;
	color:black;
	margin-top: 2%;
	position:relative;
	margin-bottom: 2%;
	width: 60px;
	height: 25px;
}
header > nav > a > img{
	height: 25px;
	width: 25px;
	float:right;
	margin-top: 0%;
}

/*el main*/

#main{
	text-align: center;
	color: white;
	position: relative;
	width: 100%;
	background:white;
	margin-top: 7%;
}
#main > #sec_1{
	position: relative;
	height: 350px;
	width: 100%;

}

/*El footer*/
footer{
	position: static;
	margin-top: 10%;
	margin-bottom: 0%;
	width: 100%;
	background: rgb(25,25,25);
	color: white;
}
footer > div{
	display: inline-block;
}
footer > div > h1{
	font-size: 16px;
}
footer > #us{
	position: relative;
	text-align: right;
	margin-left: 10%;
	margin-top: 5%;
	height: 200px;
	width: 200px;
}
footer > #f{
	position: relative;
	text-align: left;
	height: 200px;
	width: 200px;
	margin-bottom: 2%;
}
footer > #info{
	position: relative;
	height: 200px;
	width: 200px;
	margin-right: 10%;
	text-align: right;
}
footer > #info > img{
	position: relative;
	width: 100%;
}
footer > #cr{
	position: relative;
	bottom: 0%;
	margin-bottom: 0%;
	background: #000000;
	width: 100%;

}
footer > #cr > p{
	margin-bottom: 0%;
	float: left;
}
footer > #cr > a{
	margin-bottom: 0%;
	float: right;
}